@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inria Sans", serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: #191B20;
}

.body {
    padding: 0px 150px;
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #141517;
    padding: 0px 150px;
}

section {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    color: white;
}
#splide2{
    margin-bottom: 80px;
}

section h2 {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 10px;
}

section li img {
    width: 254px;
    height: 357px;
}

.s3List {
    display: flex;
    justify-content: center;
    gap: 35px;
    position: relative;
}

.s3List::after {
    content: "";
    position: absolute;
    bottom: -25px;
    height: 1px;
    width: 685px;
    background-color: white;
}

.s3List li a {
    color: white;
    font-size: 1.2em;
    padding: 3px 7px;
    border-radius: 3px;
    letter-spacing: 1px;
}

.s3List li a:hover {
    color: white;
    width: auto;
    padding: 7px 12px;
    background-color: #CC0000;
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 200px;
    padding: 0px 150px;
    background: #141517;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: grey;
    font-size: 0.8rem;
}

.logo {
    font-size: 1.4em;
}

.logo span {
    color: #CC0000;
}

.logo h2 {
    color: white;
}

.menu {
    display: flex;
    gap: 30px;
    font-size: 0.8rem;
}

.menu a {
    color: white;
}

.menu a:hover {
    color: #CC0000;
}

.search button {
    color: white;
    padding: 12px 15px;
    background: #CC0000;
    border: none;
    border-radius: 2px;
    margin-left: -5px;
    cursor: pointer;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.search input {
    height: 40px;
    width: 220px;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
}

.modalSign {
    display: none;
}

.modalSign.active {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 530px;
    background-color: black;
    z-index: 1000;
    color: white;
}

.signContainer {
    padding: 35px;
}

.modalSign .buttons {
    margin: 0px 0px 35px 0px;
}

#box {
    align-self: flex-start;
}

.buttons {
    display: flex;
}

.modalSign .content {
    display: flex;
    flex-direction: column;
    gap: 22.5px; /* Gap initial 15px * 1.5 */
    margin-bottom: 20px;
}

.modalSign a {
    color: #CC0000;
}

.forgotSign {
    display: flex;
    flex-direction: column;
    gap: 25px; /* Gap initial 10px * 1.5 */
    font-size: 0.9rem;
    margin-top: 30px;
}

#user,
#pass {
    height: 37px;
    border-radius: 5px;
    padding-left: 12px;
}

.check {
    font-size: 0.9rem;
    margin-bottom: 20px;
    font-weight: 100;
}

.sign,
.log {
    width: 200px;
    height: 45px; /* Hauteur initiale 25px * 1.5 */
    border-radius: 0px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    cursor: pointer;
    
}

.sign {
    background-color: black;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid;
    border-right: none;
}

.log {
    background-color: #CC0000;
    border: none;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content button {
    height: 37.5px; /* Hauteur initiale 25px * 1.5 */
    background-color: #CC0000;
    color: white;
    border: none;
    border-radius: 3px;
    letter-spacing: 1px;
    font-size: 1rem;
    padding-top: 6px; /* Padding vertical initial augmenté par 1.5 */
    padding-bottom: 6px;
}

.modalFilm {
    display: none;
}

.modalFilm.active {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    position: fixed;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    z-index: 1000;
    color: white;
}

.filmContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.filmImg {
    width: 200px;
    height: auto;
    margin-left: 70px;
    margin-right: 50px;
}

.filmImg img {
    width: 120%;
    height: 130%;
    object-fit: cover;
    border: 1px solid white;
}

.filmContent {
    padding: 20px;
    width: 400px;
    height: 37vh;
    overflow: auto;
}
.movie-details{
    letter-spacing: 1px;
}
.popNote, .popTitle{
    color: red;
}
.popTitle{
    margin-top: 55px;
}
.popNote{
    font-size: 1.5rem;
    margin: 10px 0px;
}
.popCast{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.popCastTitle{
    display: flex;
    margin-right: 10px;
    font-weight: 400;
    font-size: 1rem;
}
.popCastList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.closer {
    padding: 1px 3px;
    font-size: 0.5rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: black;
    color: white;
    position: absolute;
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Styles spécifiques pour les écrans tablettes */
    .body {
        padding: 0px 75px;
    }
    
    
}

@media (min-width: 200px) and (max-width: 767px) {
    /* Styles spécifiques pour les écrans mobiles */
    .body {
        padding: 0px 35px;
    }
}
