@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: #191B20;
}

.body {
    padding: 0px 150px;
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #141517;
    padding: 0px 150px;
}


section {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    color: white;
}

section h2 {
    font-size: 0.8em;
    font-weight: 300;
    margin-bottom: 5px;
}


/* .splide__slide {
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.splide__slide img:hover {
    transform: scale(1.05);
} */

section li img {
    width: 100%;
    height: 100%;
}

.s3List {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.s3List::after {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 1px;
    width: 475px;
    background-color: white;
}

.s3List li a {
    color: white;
    font-size: 0.8em;
    padding: 3px 7px;
    border-radius: 3px;
}

.s3List li a:hover{
    color: #CC0000;
}


footer {
    width: 100%;
    height: 120px;
    padding: 0px 150px;
    background: #141517;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: grey;
    font-size: 0.6rem;
}


.logo span {
    color: #CC0000;
}

.logo h2 {
    color: white;
}


.menu {
    display: flex;
    gap: 20px;
    font-size: 0.6rem;
}

.menu a {
    color: white;
}

.menu a:hover {
    color: #CC0000;
}


.search button {
    color: white;
    padding: 6px 10px;
    background: #CC0000;
    border: none;
    border-radius: 2px;
    margin-left: -5px;
    cursor: pointer;
}

.search input {
    height: 30px;
}


.modalSign {
    display: none;
}

.modalSign.active {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 600px;
    background-color: black;
    z-index: 1000;
    color: white;
}

.signContainer {
    padding: 35px;

}

.modalSign .buttons {
    margin: 0px 0px 35px 0px;
}

#box {
    align-self: flex-start;
}

.buttons {
    display: flex;
}

.modalSign .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.modalSign a {
    color: #CC0000;
}

.forgotSign {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.7rem;
}

#user,
#pass {
    height: 25px;
}

.check {
    font-size: 0.7rem;
    margin-bottom: 20px;
    font-weight: 100;
}


.sign,
.log {
    width: 200px;
    height: 25px;
    border-radius: 0px;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.sign {
    background-color: black;
    color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid;
    border-right: none;
}

.log {
    background-color: #CC0000;
    border: none;
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.content button {
    height: 25px;
    background-color: #CC0000;
    color: white;
    border: none;
    border-radius: 3px;
    letter-spacing: 1px;
    font-size: 0.7rem;
}


.modalFilm {
    display: none;
}

.modalFilm.active {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    position: fixed;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    z-index: 1000;
    color: white;
}

.filmContainer {
    display: flex;
    align-items: center;
    gap: 30px;
}

.filmImg {
    background-color: blue;
    width: 200px;
    height: 35vh;
}

.filmImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filmContent {
    padding: 20px;
    width: 400px;
    height: 50vh;
    background-color: yellow;
}


.closer {
    padding: 1px 3px;
    font-size: 0.5rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: black;
    color: white;
    
}

